package-db: /Volumes/macbox_cs/oliver/Dropbox/code/haskell.git/cloudhaskell/cabal-dev/packages-7.4.1.conf
local-repo: /Volumes/macbox_cs/oliver/Dropbox/code/haskell.git/cloudhaskell/cabal-dev/packages
build-summary: /Volumes/macbox_cs/oliver/Dropbox/code/haskell.git/cloudhaskell/cabal-dev/logs/build.log
install-dirs user
  prefix: /Volumes/macbox_cs/oliver/Dropbox/code/haskell.git/cloudhaskell/cabal-dev/
install-dirs global
  prefix: /Volumes/macbox_cs/oliver/Dropbox/code/haskell.git/cloudhaskell/cabal-dev/
repos: hackage.haskell.org:http://hackage.haskell.org/packages/archive
cachedir: "/Users/oliver/.cabal/packages"
hackage-username: ""
hackage-password: ""
compiler: ghc
user-install: False
library-profiling: True
documentation: True