name:                $ProjectName$
version:             0.1
synopsis:            
description:         
category:            $Category$
license:             BSD3
license-file:        LICENSE
author:              $Author$
maintainer:          $Maintainer$
build-depends:       base
build-type:          Simple

executable:          $ProjectName$
main-is:             src/Main.hs
ghc-options:         
